html {
  font-size: 18px;
}
body,
#presentation {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #ccf;
 background-image:
    linear-gradient(#b8c6df,#6d88b7);
  background-image:
    linear-gradient(to bottom,
                    #b8c6df 0%,
                    #6d88b7 100%);


}

#presentation {
  overflow: hidden;
}
.slide {
  width: 900px;
  height: 700px;
  background-color: #efefef;
  position: absolute;
  left: 50%;
  top: 50%;
margin-top: -350px;
    margin-left: -450px;padding: 20px;
    border-radius: 50px 0;
    border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.6),
              inset 0 0 6px rgba(0,0,0,0.4);
              -moz-box-sizing: border-box;
              box-sizing: border-box;
  transform: scale(0.8);
       transition:
          margin-left 1s,
          transform 1s,
          opacity 2s;

}
.slide:nth-of-type(odd) {
  border-radius: 0 50px;
}
.slide {
  display: none;
  overflow: hidden;
}
.past, .current, .future {
  display: block;
}
.slide.past    { margin-left: -1400px;}
.slide.current { margin-left: -450px;}
.slide.future  { margin-left: 500px;}
body {
    font-family: sans-serif;
}

:root { font-size: 18px;  }
header {text-align: center; }
h1    {
  font-size:2rem;
  }

pre   { font-size: 1.5rem;  }

p, ol li     { font-size: 1.5rem;
        margin: 1rem 0 0 0; }

.slide            {opacity: 0.5;}
.slide.far-past   {margin-left: -2400px;}
.slide.past       {margin-left: -1400px;}
.slide.current    {margin-left: -450px;
                   opacity: 1;}
.slide.future     {margin-left: 500px;}
.slide.far-future {margin-left: 1500px;}


.icons {
  clear: both;
}
.icons li,
.icons .browser {
      width: 68px;
      height: 14px;
      float: left;
      background-image:url(img/icons.png);
      border-radius: 32px;
      font-size: 0.8rem;
      padding-top: 60px;
      text-align:center;
      position: relative;
      background-repeat: no-repeat;
      list-style-type: none;
      font-size: 0.5rem;
    }
  .icons li.text {
    font-size: 1rem; width: auto; height: auto; background: none; padding: 30px;
  }
    .icons .firefox {background-position:-80px 0}
    .icons .ie {background-position:-280px 0}
    .icons .safari {background-position:-210px 0}
    .icons .chrome {background-position:0 0 }
    .icons .opera {background-position:-140px 0}
    .icons .blackberry  {background-position:-430px 0}
    .icons .android  {background-position:-360px 0}
    .icons .new:after {
      content: "";
      width: 40px;
      height: 28px;
      display:block;
      position:absolute;
      top: -8px;
      right:-10px;
      background-image:url(../icons/new.gif);
    }
    .icons .no {opacity: 0.25;}
    .icons .bad,
    .icons .iffy {opacity: 0.60;}
    .icons .bad {
      margin-right: 10px;
      margin-left: 10px;
    }
    .icons .bad:after {
      position:absolute;
      top: -10px;
      left:-15px;
      content: "";
      -webkit-box-sizing: padding-box;
      background:
        -webkit-linear-gradient(135deg,
          transparent 45%,
          red 45%,
          red 55%,
          transparent 55%);
      width: 68px;
      height: 68px;
      border-radius: 50%;
      border: 10px solid red;
      display:block;
    }

    .icons .half:after {
      position:absolute;
      top: 0;
      right:0;
      content: "";
      background-color: #DCe7f3;
      width: 33px;
      border-radius: 0 0 50% 0;
      height: 65px;
      display:block;
    }
    .icons .half.new:after {
      background-repeat: no-repeat;
      background-color:transparent;
      background-image:url(../icons/new.gif),
      -webkit-linear-gradient(0deg, transparent 30%, #DCe7f3 30%) ;
      background-image:url(../icons/new.gif),
      -moz-linear-gradient(0deg, transparent 30%, #DCe7f3 30%) ;
      background-image:url(../icons/new.gif),
      -ms-linear-gradient(0deg, transparent 30%, #DCe7f3 30%) ;
      background-image:url(../icons/new.gif),
      -o-linear-gradient(0deg, transparent 30%, #DCe7f3 30%) ;
      background-image:url(../icons/new.gif),
      linear-gradient(0deg, transparent 30%, #DCe7f3 30%) ;
      width: 40px;

    }
    .icons .txt {background-image: none; width: auto; font-size: 1.5rem;}

/* Browser history */
div.divider {
  clear: both;
}
div.divider .icons,
div.divider p,
 {
  float: left;
}
.divider p {font-weight: bold;}
.divider code {color: ;}

/* object pages */
object {
  width: 100%;
  height: 100%;
  border: 1px solid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
object + a {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6d88b7;
  color: white;
  padding: 5px 20px;
  border-radius: 0 0 0 40px;
  text-decoration: none;
}

/* Definition list */
dl {
  font-size: 2rem;
}
dt {
  margin: 0.3rem;
  float: left;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: inset -1px -1px 1px rgba(0,0,0,0.2);
}
dd {
  display: none;
}
dt:hover + dd + dt {
  clear: both;
}
dt:hover + dd {
  clear: both;
  display:inherit;
}
.def p code,
dd code {color: #6d88b7; font-weight: bold}

/* Box Oreient */
div.example {
display: block;
padding: 0 10px;
background: rgba(255, 255, 255, 0.4);
border-radius: 8px;
font-size:14px;
border: 1px solid rgba(0, 0, 0, 0.2);
column-rule: 1px solid #bbb;
margin-bottom: -15px;
}
/* Flexible Box Model */
#box-orient-example {
  height: 220px;
  display: -webkit-box; -webkit-box-orient: horizontal;
  display: -moz-box; -moz-box-orient: horizontal;
}
#box-orient-example div:nth-child(1) {
  background: white; padding: 10px; -webkit-box-flex: 1;
  -moz-box-flex: 1; text-align: center;
}
#box-orient-example div:nth-child(2) {
  background: #ddd; padding: 10px; -webkit-box-flex: 1;
  -moz-box-flex: 1; text-align: center;
}
#box-orient-example div:nth-child(3) {
  background: white; padding: 10px; -webkit-box-flex: 3;
  -moz-box-flex: 3; text-align: center;
}

 #box-orient-example-2 {
  height: 200px;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -moz-box-orient: horizontal;

  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;

  display: -ms-box;
  -ms-box-pack: center;
  -ms-box-align: center;
  -ms-box-orient: horizontal;
}
#box-orient-example-2 div, #box-orient-example-2 textarea {
  background: #ddd;
  padding: 10px;
  width: 200px;
  font-size: 14px;
}

